@media(max-width:1080px){
    body{
        overflow: hidden;
        height: 75vh;
    }
    
    .container{
        align-items: center;
        justify-content: center;
    }
}

@media(max-width:1024px){
    .mockup{
        display: flex;
        align-items: center;
    }

    .mockup img{
        width: 350px;
    }

    .container{
        height: 75vh;
        align-items: center;
        justify-content: center;
    }
}

@media(max-width:768px){
    body{
        background: url(../images/bg-mobile.svg) center center no-repeat;
        background-color: hsl(257, 40%, 49%);
        background-size: cover;
    }

    .container-mockup{
        display: block;
    }

    .container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header img{
        margin-bottom: 30px;
    }

    .container-mockup{
        max-height: 720px;
    }

    .mockup img{
        width: 100%;
        margin: auto;
    }

    .mockup-info{
        position: relative;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin: 15px auto;
    }

    .mockup-info .social{
        position: relative;
        left: 0;
        bottom: 0;
        top: 30px;
    }

    .mockup-info button{
        padding: 15px 60px;
    }
}